<main class="bg-neutral-950 border-double border-8 border-fuchsia-500 rounded-3xl p-3 glow-border h-full w-full flex flex-col">

  <div class="my-auto text-green-400 flex flex-col">
    <div class="pt-2 sm:ml-auto text-4xl mx-auto sm:text-7xl hover:text-orange-400">
      Adil Lari
    </div>
    <div class="sm:ml-auto mx-auto text-2xl hover:text-orange-400 pt-2">
      (Maz)
    </div>
    <div class="my-auto mx-auto flex flex-col pt-6">
      <div class="ml-auto hover:text-orange-400">
        Fullstack Developer
      </div>
      <div class="mx-auto hover:text-orange-400 blinking-cursor pr-[2px]">
        in Kansas City
      </div>
    </div>
  </div>

  <%# Socials Section %>
  <div class="text-[#22AED1] flex justify-around sm:mt-auto my-auto sm:text-7xl text-5xl">
    <a href="https://www.linkedin.com/in/adillari" target="_blank" class="m-auto hover:text-[#016FB9]">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/mazUwU" target="_blank" class="m-auto hover:text-[#016FB9]">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://social.linux.pizza/@maz" target="_blank" class="m-auto hover:text-[#016FB9]">
      <i class="fa-brands fa-mastodon"></i>
    </a>
  </div>
  <%# footer %>
  <div class="flex mt-auto text-white">
    <div class="mr-auto hover:text-orange-400">
      Page Visits: <%= @visits %>
    </div>
    <div class="ml-auto hover:text-orange-400">
      <a href="mailto:mazacon@pm.me" class="fa-regular fa-envelope"></a>
      <i>mazacon@pm.me</i>
    </div>
  <div>
</main>
