<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adil Lari</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="author" content="Adil Lari">
    <meta name="description" content="Portfolio Site">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/29a0019ad2.js" crossorigin="anonymous"></script>
    <style>
    body { font-family: monospace }
    .glow-border { box-shadow: 0 0 10px rgba(0, 0, 255, 0.8) }
    .blinking-cursor {
      border-right: 1.5px solid #000;
      animation: blink 2s infinite;
    }
    @keyframes blink {
      0%, 50%, 100% {
        border-color: transparent;
      }
      25%, 75% {
        border-color: rgb(74 222 128);
      }
    }
    </style>
  </head>

  <body class="bg-slate-950 flex items-center justify-center h-dvh p-8">
    <main class="bg-neutral-950 border-2 border-solid border-fuchsia-400 rounded-3xl p-3 glow-border h-full w-full flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
