<%# frozen_string_literal: true %>
<div class="text-white overflow-auto">
  <table>
    <tr>
      <th>Time</th>
      <th>IP</th>
      <th>User Agent</th>
      <th>Path</th>
    </tr>
    <% @visitors.each do |line| %>
      <tr>
        <td><%= line[0] %></td>
        <td><%= line[1] %></td>
        <td><%= line[2] %></td>
        <td><%= line[3] %></td>
      </tr>
    <% end %>
  </table>
</div>
