<%# frozen_string_literal: true %>
<div class="overflow-auto">
  <table class="table-auto border border-gray-800 rounded-2xl overflow-hidden">
    <tr>
      <th class="text-pink-500 border border-gray-800 px-4 py-2 hover:bg-gray-900">Time</th>
      <th class="text-green-400 border border-gray-800 px-4 py-2 hover:bg-gray-900">IP</th>
      <th class="text-yellow-400 border border-gray-800 px-4 py-2 hover:bg-gray-900">User Agent</th>
      <th class="text-blue-400 border border-gray-800 px-4 py-2 hover:bg-gray-900">Path</th>
    </tr>
    <% @visitors.each do |line| %>
      <tr>
        <td class="text-pink-500 border border-gray-800 m-auto p-2 whitespace-nowrap hover:bg-gray-900">
          <%= line[0] %>
        </td>
        <td class="text-green-400 border border-gray-800 m-auto p-2 hover:bg-gray-900">
          <%= line[1] %>
        </td>
        <td class="text-yellow-400 border border-gray-800 m-auto p-2 hover:bg-gray-900">
          <%= line[2] %>
        </td>
        <td class="text-blue-400 border border-gray-800 m-auto p-2 hover:bg-gray-900">
          <%= line[3] %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
